// Load CSS Reset from NPM
@import "~normalize.css";
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.main-content-block {
  border: 3px solid black;
  height: 20rem;
}

.header-background-image {
  background-image: url("../images/restaurant.jpg");
  min-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-container {
  position: absolute;
  width: 80%;
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.4s;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}

.topnav-text {
  color: white;
}