// Load CSS Reset from NPM
@import "~normalize.css";
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-family: Baskervville, Garamond, "Times New Roman";
}

a {
  font-family: Helvetica, Arial, sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
    
html {
  scroll-behavior: smooth;
}

.header {
  background-color: #9D5126;
  color: white;
}

.navbar {
  width: 100%;
  text-align: center;
}

.vertical-line {
  border-left: 1px solid rgb(0, 0, 0);
  height: 1.5rem;
}

.title-resBtn-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  h1 {
    grid-column-start: 2;
    text-align: center;
    display: inline;
  }

  button {
    width: 150px;
    margin-right: 10px;
    justify-self: flex-end;
  }
}